@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");

:root {
	--fel-col-grad1: #24ff5f;
	--fel-col-grad2: #ff24c4;

	--fel-col-grad1-toggle: #0f0f0f;
	--fel-col-grad2-toggle: #2c2c2c;

	--fel-col-splash-text-delay1: 350;
	--fel-col-splash-text-delay2: 250;
	--fel-col-splash-text-delay3: 100;

	--fel-progress-grad1: rgb(84, 231, 79);
	--fel-progress-grad2: rgb(71, 105, 218);
}

body {
	font-family: "Montserrat", sans-serif;
}

@keyframes background-grad-move {
	from {
		background-position: center 0%;
	}
	to {
		background-position: center -200%;
	}
}

.splash-name > span {
	top: 10vh;
	opacity: 0; /*Can't use bootstrap's opacity-0 because it has !important set */
}

.whole-viewport {
	width: 100vw;
	height: 100vh;
}

.non-clickable {
	pointer-events: none;
}

.make-clickable {
	pointer-events: auto;
}

.splash-screen {
	animation: background-grad-move 5s linear infinite;
	background-image: linear-gradient(
		to bottom,
		var(--fel-col-grad1),
		var(--fel-col-grad2),
		var(--fel-col-grad1)
	);
	background-size: 200% 200%;
	height: 100vh;
	overflow: hidden;
}

.tile-container {
	width: calc(100% - 1px);
	height: calc(100% - 1px);
	grid-template-rows: repeat(var(--fel-rows), 1fr);
	grid-template-columns: repeat(var(--fel-columns), 1fr);
}

.tile {
	position: relative;
	cursor: pointer;
}

.tile:hover::before {
	background-color: rgb(20, 20, 20);
}

.tile::before {
	content: "";
	background-color: rgb(10, 10, 10);
	position: absolute;
	inset: 1px;
}

.splash-screen.toggled > .tile-container > .tile:hover {
	opacity: 0.1 !important;
}

/* .toggled-bg {
    animation: background-grad-move 15s linear infinite;
    background-image: linear-gradient(
        to bottom,
        var(--fel-col-grad1-toggle),
        var(--fel-col-grad2-toggle),
        var(--fel-col-grad1-toggle)
    );
    background-size: 200% 200%;
    overflow: hidden;
    opacity: 0;
} */

.navbar {
	height: 100px;
}

.section-container {
	border-radius: 30px;
	box-shadow: 0px 0px 10px lightgreen;
}

.separator {
	height: 300px;
}

.progress-outline {
	border: 1px solid #303030;
	border-radius: 10px;
	padding: 3px;
}

.progress {
	height: 10px;
}

.progress-bar {
	background-image: linear-gradient(
		to right,
		var(--fel-progress-grad1),
		var(--fel-progress-grad2)
	);
}

.content {
	opacity: 0;
}
